body{
    background-color: #011F3F;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #FEF2BF;
}

.button{
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    cursor:pointer;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

.blink {
    animation: blink-animation 0.3s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.3s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }